<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark" >
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item" th:classappend="${url== 'product' ? 'active' : ''}">
              <a class="nav-link" href="/product">Product</a>
            </li>
            <li class="nav-item" th:if="${isAdmin}" th:classappend="${url== 'account' ? 'active' : ''}">
              <a class="nav-link" href="/admin/account">Account</a>
            </li>
            <li class="nav-item" th:classappend="${url== 'customer' ? 'active' : ''}">
              <a class="nav-link" href="/customer">Customer</a>
            </li>
            <li class="nav-item" th:classappend="${url== 'order' ? 'active' : ''}">
              <a class="nav-link" href="/order" >Order</a>
            </li>
            <li class="nav-item" th:if="${isAdmin}" th:classappend="${url== 'allocation' ? 'active' : ''}">
              <a class="nav-link " href="/order/allocation">
                Allocation Product
              </a>
            </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link text-light" href="/logout">LOG OUT</a>
                </li>
            </ul>
        </div>
 </nav>
