<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Product List</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>
<body>
	<th:block th:insert="~{tpl/navbar.html :: navbar}">
	</th:block>
	<h2 class=" mt-3 mb-3 text-center">Phân bổ sản phẩm</h2>
	<div class="container-fluid mt-3">
		<form id="searchForm" th:action="@{/allocation}" th:method="POST">
			<div class="row mb-3 justify-content-center text-center">
				<div class="col-xl-1 col-2">STT</div>
				<div class="col-xl-2 col-3">Mã sản phẩm</div>
				<div class="col-xl-2 col-5">Tên sản phẩm</div>
				<div class="col-xl-1 col-2">Số lượng</div>
			</div>
			<div  id="allocationForm">
				<div class="row mb-3 justify-content-center">
					<div class="col-xl-1 col-2">
						<input class=" w-100 text-center" readonly="readonly" >
					</div>
					<div class="col-xl-2 col-3">
						<input class="input-control w-100">
					</div>
					<div class="col-xl-2 col-5">
						<input class="input-control w-100">
					</div>
					<div class="col-xl-1 col-2">
						<input class="input-control w-100">
					</div>
				</div>
				<div class="row mb-3 justify-content-center">
					<div class="col-xl-1 col-2">
						<input class=" w-100 text-center" readonly="readonly">
					</div>
					<div class="col-xl-2 col-3">
						<input class="input-control w-100">
					</div>
					<div class="col-xl-2 col-5">
						<input class="input-control w-100">
					</div>
					<div class="col-xl-1 col-2">
						<input class="input-control w-100">
					</div>
				</div>
			</div>
		</form>
	</div>
	<script th:inline="javascript">
	/*<![CDATA[*/
	var message = /*[[${message}]]*/ '';
	
	if (message) {
	    alert(message);
	}
	/*]]>*/
</script>


	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>