<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product List</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container mt-3">
    <form id="searchForm" th:action="@{/product}" th:method="post" th:object="${searchRequest}">
        <div class="row input-group mb-3">
            <div class="col-1"></div>
            <div class="col-2 mt-1">
                <label class="">Mã sản phẩm</label>
            </div>
            <div class="col-6">
                <input class="form-control border-dark shadow-none" type="text" name="productCode" placeholder="Nhập mã sản phẩm" th:value="${searchRequest.productCode}">
            </div>
        </div>

        <div class="row input-group">
            <div class="col-1"></div>
            <div class="col-2 mt-1">
                <label class="">Tên sản phẩm</label>
            </div>
            <div class="col-6">
                <input class="form-control border-dark shadow-none" type="text" name="productName" placeholder="Nhập tên sản phẩm" th:value="${searchRequest.productName}">
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-3"></div>
            <div class="col-3">
                <div class="row">
                    <div class="col-6">
                        <button type="submit" class="btn btn-primary"> Tìm kiếm</button>
                    </div>
                    <div class="col-6">
                        <button type="reset" class="btn btn-primary"> Clear</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

	<table class="table table-hover mt-3">
        <thead>
        <tr>
            <th scope="col" class="text-center">Số thứ tự</th>
            <th scope="col">Mã sản phẩm</th>
            <th scope="col">Tên sản phẩm</th>
            <th th:if = "${isAdmin}" scope="col">Giá mua</th>
            <th scope="col">Giá bán</th>
            <th scope="col" class="text-center">Số lượng tồn kho</th>
            <th th:if = "${isAdmin}" scope="col" >Hành động</th>
        </tr>
        </thead>
        <tbody>
		    <tr th:if = "${products.size() != 0}" th:each="prod, index : ${products}">
		        <th scope="row" class="text-center" th:text=" ${index.index + 1 + (currentPage - 1) *3}"></th>
		        <td th:text="${prod.productCode}"></td>
		        <td th:text="${prod.productName}"></td>
				<td th:if = "${isAdmin}" th:text="${#numbers.formatDecimal(prod.purchasePrice, 0, 'COMMA', 0, 'POINT')} + ' VND'"></td>
				<td th:text="${#numbers.formatDecimal(prod.salePrice, 0, 'COMMA', 0, 'POINT')} + ' VND'"></td>
		        <td class="text-center" th:text="${prod.inventoryQuantity}"></td>
		        <td th:if = "${isAdmin}"><button class="btn btn-primary">Chỉnh sửa</button>
		        <button class="btn btn-primary" onclick="">Xóa</button>
		        </td>
		    </tr>
		    <tr th:if= "${products.size() == 0}" >
		    	<td colspan = "7" class="text-center"> Không tìm thấy sản phẩm!</td>
		    </tr>
		</tbody>
    </table>
    
    <nav th:if = "${products.size() != 0}" aria-label="Page navigation example " class="d-flex justify-content-center">
        <ul class="pagination">
            <li th:each="i : ${pageNumbers}" class="page-item">
                <a class="page-link" href="#" th:text="${i}" th:onclick="'javascript:submitForm(' + ${i} + ')'"></a>
            </li>
        </ul>
    </nav>
</div>

<script th:inline="javascript">
    function submitForm(pageNumber) {
        var form = document.getElementById("searchForm");
        form.action = '/product?page=' + pageNumber;
        form.submit();
    }
</script>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>