<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product Update</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container mt-3 ">
    <form th:action="@{/admin/product/update}+'/'+${updateProductRequest.productId}" th:method="post" th:object="${updateProductRequest}">
    	<input type="hidden" name = "productId" th:value = "${updateProductRequest.productId}">
    	<input type="hidden" name = "version" th:value = "${updateProductRequest.version}">
        <div class="row input-group mb-3">
            <div class="col-1"></div>
            <div class="col-2 mt-1">
                <label class="">Mã sản phẩm</label>
            </div>
            <div class="col-5">
                <input class="form-control border-dark shadow-none" type="text" name="productCode" th:value = "${updateProductRequest.productCode}"
                	th:classappend="${mapErrors.get('productCode') != null ? 'is-invalid' : ''}">
            </div>
            
            <div th:if="${mapErrors.get('productCode') != null}" class="col-4">
    			<div class="mt-2 text-danger" th:text= "${mapErrors.get('productCode')}"></div>
    		</div>
    		
        </div>

        <div class="row input-group mb-3">
            <div class="col-1"></div>
            <div class="col-2 mt-1">
                <label class="">Tên sản phẩm</label>
            </div>
            <div class="col-5">
                <input class="form-control border-dark shadow-none" type="text" name="productName"  th:value = "${updateProductRequest.productName}"
                	th:classappend="${mapErrors.get('productName') != null ? 'is-invalid' : ''}">
            </div>
            
            <div th:if="${mapErrors.get('productName') != null}" class="col-4">
    			<div class="mt-2 text-danger" th:text= "${mapErrors.get('productName')}"></div>
    		</div>
        </div>
        <div class="row input-group mb-3">
            <div class="col-1"></div>
            <div class="col-2 mt-1">
                <label class="">Giá mua vào</label>
            </div>
            <div class="col-5">
                <input class="form-control border-dark shadow-none" type="text" name="purchasePrice"  th:value = "${updateProductRequest.purchasePrice}"
                	th:classappend="${mapErrors.get('purchasePrice') != null ? 'is-invalid' : ''}">
            </div>
            <div th:if="${mapErrors.get('purchasePrice') != null}" class="col-4">
    			<div class="mt-2 text-danger" th:text= "${mapErrors.get('purchasePrice')}"></div>
    		</div>
        </div>
        <div class="row input-group mb-3">
            <div class="col-1"></div>
            <div class="col-2 mt-1">
                <label class="">Giá bán ra</label>
            </div>
            <div class="col-5">
                <input class="form-control border-dark shadow-none" type="text" name="salePrice"  th:value = "${updateProductRequest.salePrice}"
            		th:classappend="${mapErrors.get('salePrice') != null ? 'is-invalid' : ''}">
            </div>
            <div th:if="${mapErrors.get('salePrice') != null}" class="col-4">
    			<div class="mt-2 text-danger" th:text= "${mapErrors.get('salePrice')}"></div>
    		</div>
        </div>
        
        <div class="row input-group">
            <div class="col-1"></div>
            <div class="col-2 mt-1">
                <label class="">Số lượng tồn kho</label>
            </div>
            <div class="col-5">
                <input class="form-control border-dark shadow-none" readonly="readonly" name="inventoryQuantity" type="number" th:value = "${updateProductRequest.inventoryQuantity}">
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-3"></div>
            <div class="col-3">
                <div class="row">
                    <div class="col-6">
                        <button type="submit" class="btn btn-primary"> Chỉnh sửa</button>
                    </div>
                    <div class="col-6">
                        <a href="#" class="text-decoration-none text-light">
                        <button type="button" class="btn btn-primary" onclick="checkLocalStorage()">Hủy</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    // Function kiểm tra localStorage có chứa giá trị productCode và productName không
    function checkLocalStorage() {
        var productCode = localStorage.getItem('productCode'); // Lấy giá trị của productCode từ localStorage
        var productName = localStorage.getItem('productName'); // Lấy giá trị của productName từ localStorage
        var currenPage = localStorage.getItem('currentPage'); // Lấy giá trị của currentPage từ localStorage
       
        if (currenPage == null){
        	currenPage = 1;
        }
        
        var url = '/product?page=' + currenPage;
        
        if (productCode != null) {
            url += '&productCode=' + productCode ;
        }
        
        if (productName != null) {
            url += '&productName=' + productName ;
        }
        
        window.location.href = url;
    }
</script>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>